{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
  
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Blog</h1>
    </div>
  </div>

  <div class="container mb-sm-5 mt-sm-5">
    <h1 class="text-center mb-sm-5">{{ self.title }}</h1>
    <div class="card-deck">
        {% for post in page.get_children %}
            <div class="card">
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.date }}</p>
                        <a href="{{ post.url }}" class="btn btn-info">
                        </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

    
{% endblock %}
