{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
  
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Blog</h1>
    </div>
  </div>

  <div class="container ph3 ph5-n">
    <div class="card-deck">
     <div class="intro">{{ page.intro|richtext }}</div>
    {% for post in page.get_children %}
      <div class="row">
       <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
        </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.date }}</p>
                  <a href="{{ post.url }}" class="btn btn-info">
                  </a>
            </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
{% endblock %}
