<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-inline p-2 justify-content-center" id="navbarColor01">
            <ul class="navbar-nav p-2">
    {% for item in menu_items %}
        <div class="{{ item.active_class }}">
            <a href="{{ item.href }}" style="color:black; font-family:Geneva, sans-serif; font:large">{{ item.text }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if item.sub_menu %}
                <ul class="sub-menu">
                    {% for sub_item in item.sub_menu.items %}
                        <div class="{{ sub_item.active_class }}"><a href="{{ sub_item.href }}">{{ sub_item.text }}</a></li>
                    {% endfor %}
                        </div>
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> -->
    </ul>
</nav>


    