<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto text-center">
        {% for item in menu_items %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ item.href }}" style="font-family:Helvetica Neue; font-weight:300; font-size:large">{{ item.text }} </a>
          </li>
        {% endfor %}
      </ul>
     
    </div>
  </nav>